<div id="footer-wrapper" style="background:#c6ccbc;">
			<div class="container" >
				<div class="row" style="margin-left:0px;">
					<div class="8u">
						
						<section>
						
							<div>
								<div class="row">
									<div class="3u">
										<h2 style="font-size: 20px;">Help Center</h2>
										<ul class="link-list">
											<li><a href="/community">Community</a></li>
											<li><a href="/learning-network-guides">Learning Network Guides</a></li>
											<li><a href="/support">Support</a></li>
											<li><a href="/developers">Developers</a></li>
										</ul>
									</div>
									<div class="3u">
										<h2 style="font-size: 20px;">Our Company</h2>
										<ul class="link-list">
											<li><a href="/partners">Partners</a></li>
											<li><a href="/jobs">jobs</a></li>
											<li><a href="/about-us">About US</a></li>
										
										</ul>
									</div>
									<div class="3u">
										<h2 style="font-size: 20px;">Reference</h2>
										<ul class="link-list">
											<li><a href="/privacy-policy">Privacy Policy</a></li>
											<li><a href="/terms-of-use">Terms of Use</a></li>
											<li><a href="/accessability">Accessablity</a></li>
											<li><a href="/open-source">Open Source</a></li>
									
										</ul>
									</div>
									<div class="3u">
										<h2 style="font-size: 20px;">Platform</h2>
										<ul class="link-list">
											<li><a href="/platform/learning">Learning</a></li>
											<li><a href="/platform/collaborate">Collaborate</a></li>
											<li><a href="/platform/single-sign-on">Single Sign On</a></li>
											<li><a href="platform//marketplace">Market Place</a></li>
						
										</ul>
									</div>
								</div>
							</div>
						</section>
					
					</div>
					<div class="4u">

						<section>
							<h2 style="font-size: 20px;">Contact Us</h2>
							<address style="font-size: 15px;line-height: 20px;font-style: italic;">No. 19/20,<br>

1st Cross, 1st Main,<br>

Choodasandra Circle,<br>

Near Karnataka State Reserve police quarters on Hosur Road,<br>

Bangalore - 560099<br>

Karnataka, India</address>
						
						</section>

					</div>
				</div>
				<div class="row">
					<div class="12u" style="padding-top:0px;">

						<div id="copyright">
							 <%= t('.copyright', :year => Time.now.year,
                      :site_name => "Arrivu Infosystems") %>
						</div>

					</div>
				</div>
			</div>
		</div>
		