
<div id="footer-wrapper">
			<div class="container">
				<div class="row">
					<div class="8u">
						
						<section>
						
							<div>
								<div class="row">
									<div class="3u">
										<h2>Help Center</h2>
										<ul class="link-list">
											<li><a href="#">Community</a></li>
											<li><a href="#">Learning Network Guides</a></li>
											<li><a href="#">Support</a></li>
											<li><a href="#">Developers</a></li>
										</ul>
									</div>
									<div class="3u">
										<h2>Our Company</h2>
										<ul class="link-list">
											<li><a href="#">Partners</a></li>
											<li><a href="#">jobs</a></li>
											<li><a href="#">About US</a></li>
										
										</ul>
									</div>
									<div class="3u">
										<h2>Reference</h2>
										<ul class="link-list">
											<li><a href="#">Privacy Policy</a></li>
											<li><a href="#">Terms of Use</a></li>
											<li><a href="#">Accessablity</a></li>
											<li><a href="#">Open Source</a></li>
									
										</ul>
									</div>
									<div class="3u">
										<h2>Platform</h2>
										<ul class="link-list">
											<li><a href="#">Community</a></li>
											<li><a href="#">Community</a></li>
											<li><a href="#">Community</a></li>
						
										</ul>
									</div>
								</div>
							</div>
						</section>
					
					</div>
					<div class="4u">

						<section>
							<h2>Contact Us</h2>
							<p>Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. 
							Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet 
							mollis justo facilisis quis. Sed sagittis mauris amet tellus gravida
							lorem ipsum dolor sit amet consequat blandit.</p>
						
						</section>

					</div>
				</div>
				<div class="row">
					<div class="12u">

						<div id="copyright">
							 <%= t('.copyright', :year => Time.now.year,
                      :site_name => "Arrivu Infosystems") %>
						</div>

					</div>
				</div>
			</div>
		</div>
		