<!-- <h1 id='logo'>
  <%= link_to "Arrivu Systems", refinery.root_path %>
</h1> -->
<div id="logo">
	<a href="/"><%= image_tag "logo.png", :style=>"margin-top: -10px;width: 200px;"%></a>
	</div>
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
